@model BankaDetay
@{
    Layout = "_Layout"; ViewBag.Title = "DETAY ARAMA";
}

<h2>ARAMA <a asp-action="Index" class="btn btn-sm btn-primary">GERİ</a></h2>
<form method="post">
    <div class="form-group">
        <label for="id">BankaDetayID:</label>
        <input class="form-control" name="id" />
    </div>
    <div class="text-center panel-body">
        <button type="submit" class="btn btn-sm btn-primary">DETAY ARAMA</button>
    </div>
</form>

@if (Model != null && Model.BankaDetayID != 0)
{
    <h2>Banka Detay</h2>
    <table id="myTable" class="table table-sm table-striped table-bordered m-2 table-hover">
        <thead>
            <tr>
                <th>BankaDetayID</th>
                <th>BankaID</th>
                <th>KullaniciAdi</th>
                <th>Sifre</th>
                <th>MagazaNo</th>
                <th>Host</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>@Model.BankaDetayID</td>
                <td>@Model.BankaID</td>
                <td>@Model.KullaniciAdi</td>
                <td>@Model.Sifre</td>
            </tr>
        </tbody>
    </table>
}
else if (Model != null && Model.BankaDetayID == 0)
{
    <div class="text-center">
        <h1>Arama sayfası</h1>
    </div>
}